@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Work Sans';
background-color: white;  
}
.gradient-text{
    font-weight:1000;
    -webkit-text-fill-color: transparent;
    /* background: linear-gradient(90deg, #00dbde, #fc00ff); */
    /* background: linear-gradient(180deg, #fc00ff, #FFA500); */
    background: linear-gradient(135deg,#FFA500 10%,#ff3083 65%);
    -webkit-background-clip: text;
  }

  