.active {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: fixed;
    width: 40vw;
    right: 2vw;
    text-align: center;
}

.right {
    display: flex;
background-color: red;
}

@media (max-width: 1000px) {
    .right {
        display: none;
    }
}